agm-map {
  height: 500px;
}

.markerIcon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.mapMarkerHeadline {
  margin-left: 20px;
}

.noBackgroundToolbar {
  background: none;
}

#mapContianer {
  width: 600px;
  height: 500px;
}
