<div id='mapContianer'>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
  >

    <agm-marker
      *ngFor="let m of markers;"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
    >

      <agm-info-window>
        <mat-toolbar class="noBackgroundToolbar">
          <mat-toolbar-row>
            <img *ngIf="m.iconUrl" src="{{m.iconUrl}}" class="markerIcon">
            <h2 class="mapMarkerHeadline">
              {{m.title}}
            </h2>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <a mat-raised-button (click)="onMarkerClicked(m)" target="_blank">
              More
            </a>
          </mat-toolbar-row>
        </mat-toolbar>
        <!--<a mat-fab (click)="onCellClicked()" target="_blank">-->
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
