<mat-card class="restaurant-card" *ngIf="openDetail">
  <mat-card-header>
    <mat-card-title>{{restaurantData.location.city}}</mat-card-title>
  </mat-card-header>
  <div class="slideShowWrapper">
    <slideshow
      [height]="'200px'"
      [minHeight]="'200px'"
      [autoPlay]="true"
      [showArrows]="false"
      [showDots]="true"
      [imageUrls]="imageSources"
      [lazyLoad]="imageSources?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
      #mySuperSlideShow
    >
    </slideshow>
  </div>

  <mat-card-content>

    <mat-card-title>{{restaurantData.title}}</mat-card-title>
    <mat-card-subtitle>{{restaurantData.details.en.calendarsummary}}</mat-card-subtitle>
    <mat-divider></mat-divider>

    <div class="restaurantDesc">
      {{restaurantData.details.en.shortdescription}}
    </div>
    <mat-card-actions>
      <div>
        <a mat-fab href='{{gMapUrl}}' target="_blank">
          <mat-icon>map</mat-icon>
        </a>
        <a *ngIf="restaurantData.urls.length > 0" mat-fab href="{{restaurantData.urls[0]}}" color="primary"
           target="_blank">
          <mat-icon>link</mat-icon>
        </a>
      </div>
      <mat-divider></mat-divider>
    </mat-card-actions>
    <p>{{restaurantData.location.adress}}, {{restaurantData.location.city}}, {{restaurantData.location.zipcode}}
    </p>
  </mat-card-content>

</mat-card>
