<div class="container">
<h1>{{title}}</h1>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-tab-group>
      <mat-tab label="Grid">
        <h1>Grid</h1>
        <app-grid [restaurantDetail]="restaurantDetail"></app-grid>
      </mat-tab>
      <mat-tab label="Map">
        <h1>Maps</h1>
        <app-map [restaurantDetail]="restaurantDetail"></app-map>
      </mat-tab>
    </mat-tab-group>

  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <app-restaurant-detail #restaurantDetail></app-restaurant-detail>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
