<mat-selection-list #itemsToChoose [(ngModel)]="selectedOptions" (ngModelChange)="onChange($event)">
  <mat-list-option *ngFor="let item of items" [value]="item">
    {{item}}
  </mat-list-option>
</mat-selection-list>
